openapi: 3.1.2
info:
  title: LibOps API
  version: 1.0.0
  description: LibOps control plane API to run docker compose projects on Google Cloud
  contact:
    name: LibOps
    url: https://github.com/libops/api
  license:
    name: MIT
    url: https://github.com/libops/api/blob/main/LICENSE
servers:
- url: https://api.libops.io
  description: Production server
paths:
  /libops.v1.AccountService/CreateApiKey:
    post:
      tags:
      - libops.v1.AccountService
      summary: Create an API key for the authenticated user
      description: Create an API key for the authenticated user
      operationId: libops.v1.AccountService.CreateApiKey
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateApiKeyResponse'
  /libops.v1.AccountService/GetAccountByEmail:
    get:
      tags:
      - libops.v1.AccountService
      summary: Get account information by email (for Terraform provider lookups)
      description: Get account information by email (for Terraform provider lookups)
      operationId: libops.v1.AccountService.GetAccountByEmail.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountByEmailRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountByEmailResponse'
    post:
      tags:
      - libops.v1.AccountService
      summary: Get account information by email (for Terraform provider lookups)
      description: Get account information by email (for Terraform provider lookups)
      operationId: libops.v1.AccountService.GetAccountByEmail
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountByEmailRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountByEmailResponse'
  /libops.v1.AccountService/ListApiKeys:
    get:
      tags:
      - libops.v1.AccountService
      summary: List API keys for the authenticated user
      description: List API keys for the authenticated user
      operationId: libops.v1.AccountService.ListApiKeys.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListApiKeysRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListApiKeysResponse'
    post:
      tags:
      - libops.v1.AccountService
      summary: List API keys for the authenticated user
      description: List API keys for the authenticated user
      operationId: libops.v1.AccountService.ListApiKeys
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListApiKeysRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListApiKeysResponse'
  /libops.v1.AccountService/RevokeApiKey:
    post:
      tags:
      - libops.v1.AccountService
      summary: Revoke an API key for the authenticated user
      description: Revoke an API key for the authenticated user
      operationId: libops.v1.AccountService.RevokeApiKey
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.RevokeApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.RevokeApiKeyResponse'
  /libops.v1.AdminAccountService/CreateAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Create a new account
      description: Create a new account
      operationId: libops.v1.AdminAccountService.CreateAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateAccountResponse'
  /libops.v1.AdminAccountService/DeleteAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Delete an account
      description: Delete an account
      operationId: libops.v1.AdminAccountService.DeleteAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminAccountService/GetAccount:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by ID
      description: Get account information by ID
      operationId: libops.v1.AdminAccountService.GetAccount.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by ID
      description: Get account information by ID
      operationId: libops.v1.AdminAccountService.GetAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountResponse'
  /libops.v1.AdminAccountService/GetAccountByEmail:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by email
      description: Get account information by email
      operationId: libops.v1.AdminAccountService.GetAccountByEmail.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by email
      description: Get account information by email
      operationId: libops.v1.AdminAccountService.GetAccountByEmail
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailResponse'
  /libops.v1.AdminAccountService/ListAccountProjects:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List projects for an account
      description: List projects for an account
      operationId: libops.v1.AdminAccountService.ListAccountProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountProjectsResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List projects for an account
      description: List projects for an account
      operationId: libops.v1.AdminAccountService.ListAccountProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountProjectsResponse'
  /libops.v1.AdminAccountService/ListAccountRepositories:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List repositories for an account
      description: List repositories for an account
      operationId: libops.v1.AdminAccountService.ListAccountRepositories.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List repositories for an account
      description: List repositories for an account
      operationId: libops.v1.AdminAccountService.ListAccountRepositories
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesResponse'
  /libops.v1.AdminAccountService/ListAccounts:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List accounts (admin only)
      description: List accounts (admin only)
      operationId: libops.v1.AdminAccountService.ListAccounts.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountsResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List accounts (admin only)
      description: List accounts (admin only)
      operationId: libops.v1.AdminAccountService.ListAccounts
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountsResponse'
  /libops.v1.AdminAccountService/UpdateAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Update account information
      description: Update account information
      operationId: libops.v1.AdminAccountService.UpdateAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateAccountResponse'
  /libops.v1.AdminConvergenceService/CheckConvergence:
    post:
      tags:
      - libops.v1.AdminConvergenceService
      summary: CheckConvergence
      operationId: libops.v1.AdminConvergenceService.CheckConvergence
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CheckConvergenceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CheckConvergenceResponse'
  /libops.v1.AdminOrganizationService/CreateOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Create a new organization (admin - can set all fields)
      description: Create a new organization (admin - can set all fields)
      operationId: libops.v1.AdminOrganizationService.CreateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateOrganizationResponse'
  /libops.v1.AdminOrganizationService/DeleteOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Delete a organization (must have no projects)
      description: Delete a organization (must have no projects)
      operationId: libops.v1.AdminOrganizationService.DeleteOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminOrganizationService/GetOrganization:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Get organization configuration (admin view - includes sensitive fields)
      description: Get organization configuration (admin view - includes sensitive
        fields)
      operationId: libops.v1.AdminOrganizationService.GetOrganization.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetOrganizationRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetOrganizationResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Get organization configuration (admin view - includes sensitive fields)
      description: Get organization configuration (admin view - includes sensitive
        fields)
      operationId: libops.v1.AdminOrganizationService.GetOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetOrganizationResponse'
  /libops.v1.AdminOrganizationService/ListOrganizationProjects:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizationProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizationProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsResponse'
  /libops.v1.AdminOrganizationService/ListOrganizations:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List all organizations (admin view)
      description: List all organizations (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizations.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationsResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List all organizations (admin view)
      description: List all organizations (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizations
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationsResponse'
  /libops.v1.AdminOrganizationService/UpdateOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Update organization metadata (admin - can update all fields)
      description: Update organization metadata (admin - can update all fields)
      operationId: libops.v1.AdminOrganizationService.UpdateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateOrganizationResponse'
  /libops.v1.AdminProjectService/CreateProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Create a new project (admin - can set all fields)
      description: Create a new project (admin - can set all fields)
      operationId: libops.v1.AdminProjectService.CreateProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateProjectResponse'
  /libops.v1.AdminProjectService/DeleteProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Delete a project (must have no sites)
      description: Delete a project (must have no sites)
      operationId: libops.v1.AdminProjectService.DeleteProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminProjectService/GetProject:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: Get project configuration (admin view - includes sensitive fields)
      description: Get project configuration (admin view - includes sensitive fields)
      operationId: libops.v1.AdminProjectService.GetProject.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetProjectRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetProjectResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Get project configuration (admin view - includes sensitive fields)
      description: Get project configuration (admin view - includes sensitive fields)
      operationId: libops.v1.AdminProjectService.GetProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetProjectResponse'
  /libops.v1.AdminProjectService/ListAllProjects:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: List all projects across all organizations (admin only)
      description: List all projects across all organizations (admin only)
      operationId: libops.v1.AdminProjectService.ListAllProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllProjectsResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: List all projects across all organizations (admin only)
      description: List all projects across all organizations (admin only)
      operationId: libops.v1.AdminProjectService.ListAllProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllProjectsResponse'
  /libops.v1.AdminProjectService/ListProjects:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminProjectService.ListProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListProjectsResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminProjectService.ListProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListProjectsResponse'
  /libops.v1.AdminProjectService/UpdateProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Update project configuration (admin - can update all fields)
      description: Update project configuration (admin - can update all fields)
      operationId: libops.v1.AdminProjectService.UpdateProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateProjectResponse'
  /libops.v1.AdminReconciliationService/GenerateTerraformVars:
    get:
      tags:
      - libops.v1.AdminReconciliationService
      summary: Generate terraform variables JSON from database state
      description: Generate terraform variables JSON from database state
      operationId: libops.v1.AdminReconciliationService.GenerateTerraformVars.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GenerateTerraformVarsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GenerateTerraformVarsResponse'
    post:
      tags:
      - libops.v1.AdminReconciliationService
      summary: Generate terraform variables JSON from database state
      description: Generate terraform variables JSON from database state
      operationId: libops.v1.AdminReconciliationService.GenerateTerraformVars
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GenerateTerraformVarsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GenerateTerraformVarsResponse'
  /libops.v1.AdminReconciliationService/GetReconciliationRun:
    get:
      tags:
      - libops.v1.AdminReconciliationService
      summary: Get reconciliation run details from control-plane database
      description: Get reconciliation run details from control-plane database
      operationId: libops.v1.AdminReconciliationService.GetReconciliationRun.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetReconciliationRunRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetReconciliationRunResponse'
    post:
      tags:
      - libops.v1.AdminReconciliationService
      summary: Get reconciliation run details from control-plane database
      description: Get reconciliation run details from control-plane database
      operationId: libops.v1.AdminReconciliationService.GetReconciliationRun
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetReconciliationRunRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetReconciliationRunResponse'
  /libops.v1.AdminReconciliationService/UpdateReconciliationStatus:
    post:
      tags:
      - libops.v1.AdminReconciliationService
      summary: Update reconciliation run status
      description: Update reconciliation run status
      operationId: libops.v1.AdminReconciliationService.UpdateReconciliationStatus
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateReconciliationStatusRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateReconciliationStatusResponse'
  /libops.v1.AdminSiteService/CreateSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Create a new site (admin - can set all fields)
      description: Create a new site (admin - can set all fields)
      operationId: libops.v1.AdminSiteService.CreateSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateSiteResponse'
  /libops.v1.AdminSiteService/DeleteSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Delete a site
      description: Delete a site
      operationId: libops.v1.AdminSiteService.DeleteSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminSiteService/GetBlob:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get blob content via signed GCS URL (optional - VMs can fetch directly
        from GCS)
      description: Get blob content via signed GCS URL (optional - VMs can fetch directly
        from GCS)
      operationId: libops.v1.AdminSiteService.GetBlob.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetBlobRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetBlobResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get blob content via signed GCS URL (optional - VMs can fetch directly
        from GCS)
      description: Get blob content via signed GCS URL (optional - VMs can fetch directly
        from GCS)
      operationId: libops.v1.AdminSiteService.GetBlob
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetBlobRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetBlobResponse'
  /libops.v1.AdminSiteService/GetSite:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get site configuration (admin view - includes internal GCP details)
      description: Get site configuration (admin view - includes internal GCP details)
      operationId: libops.v1.AdminSiteService.GetSite.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetSiteRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetSiteResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get site configuration (admin view - includes internal GCP details)
      description: Get site configuration (admin view - includes internal GCP details)
      operationId: libops.v1.AdminSiteService.GetSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetSiteResponse'
  /libops.v1.AdminSiteService/GetSiteFirewall:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get firewall rules for a site VM (called by VM controller with GSA
        auth)
      description: Get firewall rules for a site VM (called by VM controller with
        GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteFirewall.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteFirewallRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteFirewallResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get firewall rules for a site VM (called by VM controller with GSA
        auth)
      description: Get firewall rules for a site VM (called by VM controller with
        GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteFirewall
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteFirewallRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteFirewallResponse'
  /libops.v1.AdminSiteService/GetSiteSSHKeys:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get SSH keys for a site VM (called by VM controller with GSA auth)
      description: Get SSH keys for a site VM (called by VM controller with GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteSSHKeys.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteSSHKeysRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteSSHKeysResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get SSH keys for a site VM (called by VM controller with GSA auth)
      description: Get SSH keys for a site VM (called by VM controller with GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteSSHKeys
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteSSHKeysRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteSSHKeysResponse'
  /libops.v1.AdminSiteService/GetSiteSecrets:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get secrets for a site VM (called by VM controller with GSA auth)
      description: Get secrets for a site VM (called by VM controller with GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteSecrets.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteSecretsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteSecretsResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get secrets for a site VM (called by VM controller with GSA auth)
      description: Get secrets for a site VM (called by VM controller with GSA auth)
      operationId: libops.v1.AdminSiteService.GetSiteSecrets
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetSiteSecretsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetSiteSecretsResponse'
  /libops.v1.AdminSiteService/ListAllSites:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: List all sites across all organizations/projects (admin only)
      description: List all sites across all organizations/projects (admin only)
      operationId: libops.v1.AdminSiteService.ListAllSites.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllSitesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllSitesResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: List all sites across all organizations/projects (admin only)
      description: List all sites across all organizations/projects (admin only)
      operationId: libops.v1.AdminSiteService.ListAllSites
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllSitesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllSitesResponse'
  /libops.v1.AdminSiteService/ListSites:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: List sites (admin view)
      description: List sites (admin view)
      operationId: libops.v1.AdminSiteService.ListSites.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListSitesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListSitesResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: List sites (admin view)
      description: List sites (admin view)
      operationId: libops.v1.AdminSiteService.ListSites
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListSitesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListSitesResponse'
  /libops.v1.AdminSiteService/SiteCheckIn:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Site VM check-in (updates checkin_at timestamp)
      description: Site VM check-in (updates checkin_at timestamp)
      operationId: libops.v1.AdminSiteService.SiteCheckIn
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.SiteCheckInRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.SiteCheckInResponse'
  /libops.v1.AdminSiteService/SyncManifest:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Sync site manifest - returns state hash and signed URLs to blobs (for
        eventual consistency)  Called by site VMs every ~24h for eventual consistency
      description: "Sync site manifest - returns state hash and signed URLs to blobs\
        \ (for eventual consistency)\n Called by site VMs every ~24h for eventual\
        \ consistency"
      operationId: libops.v1.AdminSiteService.SyncManifest.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.SyncManifestRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.SyncManifestResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Sync site manifest - returns state hash and signed URLs to blobs (for
        eventual consistency)  Called by site VMs every ~24h for eventual consistency
      description: "Sync site manifest - returns state hash and signed URLs to blobs\
        \ (for eventual consistency)\n Called by site VMs every ~24h for eventual\
        \ consistency"
      operationId: libops.v1.AdminSiteService.SyncManifest
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.SyncManifestRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.SyncManifestResponse'
  /libops.v1.AdminSiteService/UpdateSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Update site configuration (admin - can update all fields)
      description: Update site configuration (admin - can update all fields)
      operationId: libops.v1.AdminSiteService.UpdateSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateSiteResponse'
  /libops.v1.AssistantService/Chat:
    post:
      tags:
      - libops.v1.AssistantService
      summary: Chat sends a user request to the assistant automation system.
      description: Chat sends a user request to the assistant automation system.
      operationId: libops.v1.AssistantService.Chat
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AssistantChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AssistantChatResponse'
  /libops.v1.DomainService/CreateSiteDomain:
    post:
      tags:
      - libops.v1.DomainService
      summary: CreateSiteDomain
      operationId: libops.v1.DomainService.CreateSiteDomain
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateSiteDomainRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateSiteDomainResponse'
  /libops.v1.DomainService/DeleteSiteDomain:
    post:
      tags:
      - libops.v1.DomainService
      summary: DeleteSiteDomain
      operationId: libops.v1.DomainService.DeleteSiteDomain
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteSiteDomainRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.DomainService/ListSiteDomains:
    get:
      tags:
      - libops.v1.DomainService
      summary: ListSiteDomains
      operationId: libops.v1.DomainService.ListSiteDomains.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListSiteDomainsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListSiteDomainsResponse'
    post:
      tags:
      - libops.v1.DomainService
      summary: ListSiteDomains
      operationId: libops.v1.DomainService.ListSiteDomains
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListSiteDomainsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListSiteDomainsResponse'
  /libops.v1.FirewallService/CreateOrganizationFirewallRule:
    post:
      tags:
      - libops.v1.FirewallService
      summary: Add firewall rule applied to all sites for a organization
      description: Add firewall rule applied to all sites for a organization
      operationId: libops.v1.FirewallService.CreateOrganizationFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationFirewallRuleResponse'
  /libops.v1.FirewallService/DeleteOrganizationFirewallRule:
    post:
      tags:
      - libops.v1.FirewallService
      summary: Remove a firewall rule from all sites for a organization
      description: Remove a firewall rule from all sites for a organization
      operationId: libops.v1.FirewallService.DeleteOrganizationFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.FirewallService/ListOrganizationFirewallRules:
    get:
      tags:
      - libops.v1.FirewallService
      summary: List firewall rules applied to all sites for a organization
      description: List firewall rules applied to all sites for a organization
      operationId: libops.v1.FirewallService.ListOrganizationFirewallRules.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesResponse'
    post:
      tags:
      - libops.v1.FirewallService
      summary: List firewall rules applied to all sites for a organization
      description: List firewall rules applied to all sites for a organization
      operationId: libops.v1.FirewallService.ListOrganizationFirewallRules
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesResponse'
  /libops.v1.MemberService/CreateOrganizationMember:
    post:
      tags:
      - libops.v1.MemberService
      summary: Create a member in a organization
      description: Create a member in a organization
      operationId: libops.v1.MemberService.CreateOrganizationMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationMemberResponse'
  /libops.v1.MemberService/DeleteOrganizationMember:
    post:
      tags:
      - libops.v1.MemberService
      summary: Delete a member from a organization
      description: Delete a member from a organization
      operationId: libops.v1.MemberService.DeleteOrganizationMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.MemberService/ListOrganizationMembers:
    get:
      tags:
      - libops.v1.MemberService
      summary: List members of a organization
      description: List members of a organization
      operationId: libops.v1.MemberService.ListOrganizationMembers.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationMembersRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationMembersResponse'
    post:
      tags:
[...]
