name: build-push-deploy
on:
  push:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-push:
    uses: libops/actions/.github/workflows/build-push.yml@main
    with:
      image: "shared/docs"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [build-push]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
    - uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4
    - uses: 'google-github-actions/auth@6fc4af4b145ae7821d527454aa9bd537d1f2dc5f' # v2
      with:
        workload_identity_provider: ${{ secrets.GCLOUD_OIDC_POOL }}
        service_account: ${{ secrets.GSA }}
    - id: 'deploy'
      uses: 'google-github-actions/deploy-cloudrun@1ec29da1351112c7904fb60454a55e3e1021a51c' # v2
      with:
        service: 'docs-production'
        image: 'us-docker.pkg.dev/${{ secrets.GCLOUD_PROJECT }}/shared/docs:main'
        project_id: ${{ secrets.GCLOUD_CR_PROJECT }}
        region: ${{ secrets.GCLOUD_REGION }}
    - name: 'Use output'
      run: 'curl -v -s -o /dev/null "${{ steps.deploy.outputs.url }}"'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a' # v2
      with:
        version: '>= 455.0.0'
